@import "tailwindcss";
button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
*{
margin-left : 6vh;
margin-top: 5vh;
}
